* {
  color: white
}

html {
  cursor: default;
  scroll-behavior: smooth;
  scroll-padding: 5rem;
}

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body {
  background-color: #2d2c38;
}

.col h1 span,
nav h1 {
  font-family: "Alfa Slab One", serif;
  color: gold;
  font-size: 70px;
}

#sm-links {
  display: none;
}

#xl-links a {
  margin-inline: 5px;
}

@media only screen and (max-width: 800px) {
  main .col:has(img) {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  #blob {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  #xl-links {
    display: none;
  }

  #sm-links {
    display: inline;
  }
}

main::before {
  content: "";
  background-color: gold;
  height: 14vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 15%;
  top: 60%;
  border-radius: 50%;
  z-index: -101;
  animation: glow 3s infinite;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

@keyframes glow {
  from, to {
    filter: blur(100px);
  }

  12.5%, 87.5% {
    filter: blur(95px);
  }

  25%, 75% {
    filter: blur(90px);
  }

  37.5%, 62.5% {}

  50% {
    filter: blur(80px);
  }
}

@keyframes glow2 {
  from {
    filter: blur(200px);
  }

  50% {
    filter: blur(160px);
  }

  to {
    filter: blur(200px);
  }
}

#blob {
  background-color: white;
  height: 22vmax;
  aspect-ratio: 1/2;
  position: absolute;
  left: 30%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to left, rgb(255, 146, 146), 80%, rgb(255, 121, 121));
  animation: rotate 30s infinite;
  opacity: 0.8;
  animation: glow 3s infinite;
  z-index: -100;
}

#follow::after {
  content: "";
  background: gold;
  width: 10%;
  margin: auto;
  height: 100%;
}

.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

.cursor.typing {
  animation: none;
}

@keyframes blink {
  0% {
    background-color: #ccc;
  }

  49% {
    background-color: #ccc;
  }

  50% {
    background-color: transparent;
  }

  99% {
    background-color: transparent;
  }
  
  100% {
    background-color: #ccc;
  }
}

#about::before {
  content: "";
  background-color: orange;
  display: inline-block;
  height: 100px;
  width: 100px;
  position: absolute;
  z-index: -100;
  top: 120%;
  left: 60%;
  animation: glow 2s infinite;
}

#about::after {
  content: "";
  background-color: lightblue;
  display: inline-block;
  height: 200px;
  width: 30vw;
  position: absolute;
  z-index: -100;
  top: 145%;
  left: 30%;
  animation: glow2 4s infinite;
}

#about h1 {
  font-size: 50px;
  margin: 0;
}

#about h1::before {
  content: "";
  background: gold;
  display: inline-block;
  height: 6px;
  width: 5vw;
  margin-bottom: 15px;
  margin-right: 5px;
}

#about p {
  margin-left: calc(5vw + 10px);
  text-align: justify;
}

#about p::before {
  content: "";
  background: gold;
  display: inline-block;
  height: 3px;
  width: 2vw;
  margin-bottom: 3px;
  margin-right: 3px;
}

#my-skills .col {
  height: 255px;
  padding: 0;
  margin: 15px;
  background-color: #212029;
  border-radius: 20px;
  border: 10px solid #7371943a;
}

.yellow:hover {
  background: radial-gradient(rgba(255, 217, 0, 0.492), rgba(255, 229, 81, 0.515), rgba(255, 242, 171, 0.503));
}

.pur-blu:hover {
  background: radial-gradient(rgba(115, 0, 255, 0.492), rgba(81, 81, 255, 0.515), rgba(171, 217, 255, 0.503));
}

.pur-pin:hover {
  background: radial-gradient(rgba(153, 0, 255, 0.492), rgba(255, 92, 217, 0.515), rgba(255, 0, 238, 0.503));
}

.red:hover {
  background: radial-gradient(rgba(255, 59, 59, 0.492), rgba(255, 99, 99, 0.515), rgba(255, 107, 107, 0.503));
}

#my-skills::after {
  content: "";
  background: red;
  display: inline-block;
  height: 200px;
  width: 200PX;
  position: absolute;
  top: 220%;
  left: 40%;
  z-index: -100;
  border-radius: 50%;
  filter: blur(100px);
  animation: glow2 3s infinite;
}

footer div::before,
footer div::after {
  content: "";
  background: gold;
  display: inline-block;
  height: 3px;
  width: 35%;
}

footer p::before {
  content: '"';
  font-family: 'Times New Roman', Times, serif;
  color: gold;
  position: relative;
}

#my-work h1::before, #my-work h1::after {
  content: "";
  background: gold;
  display: inline-block;
  height: 6px;
  width: 5vw;
  margin-bottom: 15px;
  margin-right: 5px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #3f3e50;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(red, rgb(128, 0, 0), red, rgb(128, 0, 0), red, rgb(128, 0, 0), red, rgb(128, 0, 0), red, rgb(128, 0, 0), red);
  border-radius: 10px;
}